.logo {
    height: 12em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .logo.react {
    animation: logo-spin infinite 5s linear;
}

.bgImage {
    background-image: url('../../public/Banner1.jpg');
    background-size: cover;
    background-position: center;
    animation: bgImageSlide 20s infinite alternate;
}

@keyframes bgImageSlide {
    0% { background-image: url('../../public/Banner1.jpg'); }
    33% { background-image: url('../../public/Banner2.jpg'); }
    66% { background-image: url('../../public/Banner3.jpg'); }
    66% { background-image: url('../../public/Banner4.jpg'); }
    100% { background-image: url('../../public/Banner1.jpg'); }
}

