.profile {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    height: 100vh;
    transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.profile:hover {
    transform: scale(1.1); /* Scale the profile when hovered over */
}
